@import "tailwindcss";

@theme {
  /* We define our custom finance colors here */
  --color-dark: #0f172a;
  --color-card: #1e293b;
  --color-primary: #3b82f6;
  --color-accent: #10b981;
  --color-danger: #ef4444;

  /* We define the font here */
  --font-sans: 'Inter', sans-serif;
}

/* Global Styles */
body {
  background-color: var(--color-dark);
  color: #e2e8f0; /* Light text */
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-dark);
}
::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 9999px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}